@import 'compass';
@import 'vars_and_mixins';

$columns: 12;
@while $columns > 0 {
  .span-#{$columns} {
    width: percentage(0.08333333333 * $columns);
  }
  $columns: $columns - 1;
}

$gutter: 10px;
.row-container {
  margin: 0 -$gutter;
  padding-bottom: ($gutter * 3);
  font-size: 0;
  @include clearfix;
  @include box-sizing(border-box);
  > div {
    display-block;
    border-left: $gutter solid transparent;
    border-right: $gutter solid transparent;
    @include box-sizing(border-box);
    &:first-child {
    }
    &:last-child {
    }
  }
}
